/* Style for the selected day */
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #ffa500; /* Orange background for selected day */
  color: white; /* White text */
  border-radius: 50%; /* Circle effect for the day */
}

/* Style for the selected time */
.react-datepicker__time-list-item--selected {
  background-color: #ffa500; /* Orange background for selected time */
  color: white; /* White text */
}

/* Style for when the selected time is hovered */
.react-datepicker__time-list-item--selected:hover {
  background-color: #ff4500; /* Darker orange on hover for the selected time */
  color: white;
}
